<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Essential Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <title>RakshaMitra</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!-- Stylesheet -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/header_footer.css">
    <!-- <link rel="stylesheet" href="css/loader.css"> -->

</head>


<body>

    <!-- Header Part Starts Here  -->

    <header class="header1 full_width">
        <div class="container content_width">
            <p><span>RakshaMitra:</span> Instant Alerts, Immediate Action.</p>
            <div class="header_social">
                <a href="" target="_blank" aria-label="LinkedIn">
                    <i class="fa-brands fa-twitter" style="color: #ffffff;"></i>
                </a>
                <a href="" target="_blank" aria-label="Instagram">
                    <i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
                </a>
                <a href="" target="_blank" aria-label="Facebook">
                    <i class="fa-brands fa-facebook" style="color: #ffffff;"></i>
                </a>
                <a href="" target="_blank" aria-label="YouTube">
                    <i class="fa-brands fa-youtube" style="color: #ffffff;"></i>
                </a>

            </div>
        </div>
    </header>

    <header class="header2 full_width">
        <div class="container content_width">
            <div class="logo box1">
                <img src="../src/images/Logo_Main.png" alt="" class="bl_logo">
            </div>

            <div class="menu box1">
                <nav class="nav ">
                    <ul id="menulist">
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="../index.html?section=about_us">About</a></li>
                        <li><a href="../index.html?section=contact_us">Contact</a></li>
                        <li><a href="">Notice</a></li>
                        <li><a href="ghash.html">GenerateHashtag</a>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="" class="donate">Donate Now</a></li>

                    </ul>
                </nav>
            </div>

            <div class="mob_menu " onclick="toggleMenu()">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>

    </header>
    </header>

    <!-- Header Part Ends Here  -->



    
    <!-- Hashtag Generation  Section Starts Here  -->

    <section class="hashpage full_width">
        <div class="head_text">

            <h3>Disaster Hashtag Generator</h3>
        </div>
        <div class="hashpage_container content_width">
            <div class="hash box6">
                <img src="../src/images/lefthasg.png" alt="">
            </div>
            <div class="form box6">
                <div class="container">
                    <form id="contactForm">
                        <h1>Disaster Hashtag Generator</h1>
                        <label for="">Choose State</label>
                        <select id="stateSelect">
                            <option value="">Choose Your State</option>
                        </select>
                        <label for="">Choose District</label>
                        <select id="districtSelect" disabled>
                            <option value=""> Choose Your District</option>
                        </select>
                        <label for="">Choose Sub-District</label>
                        <select id="subDistrictSelect" disabled>
                            <option value="">Choose Your Sub-District</option>
                        </select>
                        <label for="">Choose Disaster Type</label>
                        <select id="typeSelect">
                            <option value="">Choose Your Disaster Type</option>
                        </select>
                        <button id="submitBtn">Generate Hashtags</button>
                        <h3>Your Hashtag: </h3> <br>
                       
                        <div class="results" id="results">
                           
                        </div> 

                    </form>
                </div>
            </div>


        </div>
    </section>


    <!-- Hashtag Generation Section Ends Here  -->


    <!-- Footer Section Starts Here  -->
    <footer class="footer full_width">
        <div class="footer_container content_width">
            <div class="logo box9">
                <img src="../src/images/Logo_Main.png" alt="">

            </div>
            <div class="text box9">
                <h3>RakshaMitra <br>Instant Alerts, Immediate Action.</h3>
            </div>

            <div class="main_social box9">
                <a href="" target="_blank" aria-label="LinkedIn">
                    <i class="fa-brands fa-linkedin" style="color: #0a66c2;"></i>
                </a>
                <a href="" target="_blank" aria-label="Instagram">
                    <i class="fa-brands fa-instagram" style="color: #c32aa3;"></i>
                </a>
                <a href="" target="_blank" aria-label="Facebook">
                    <i class="fa-brands fa-facebook" style="color: #1877f2;"></i>
                </a>
                <a href="" target="_blank" aria-label="YouTube">
                    <i class="fa-brands fa-youtube" style="color: #ff0000;"></i>
                </a>


            </div>

        </div>

    </footer>

    <!-- Footer Section Ends Here  -->


    <!-- Footer1 Section Starts Here  -->


    <footer class="footer1 full_width">
        <div class="footer_container1 content_width">
            <div class="text1 box10">
                <h3>Designed and Developed by <a href="" target="_blank">RakshaMitra</a>
                </h3>
            </div>
            <div class="text2 box10">
                <h3>© 2024 RakshaMitra. All rights reserved.</h3>
            </div>
        </div>
    </footer>
    <!-- Footer1 Section Ends Here  -->






    <script src="../js/res_nav.js"></script>
    <script src="../js/ghash.js"></script>
    <script src="../js/smooth.js"></script>

</body>

</html>